:root {
  --pokemon-yellow: #ffcb05;
  --pokemon-blue: #2a75bb;
}

body {
  /* display: flex; */
  text-align: center;
  justify-content: center;
  margin: 0;
  /* height: 100%; */
  background-color: var(--pokemon-blue);
  font-family: "Press Start 2P", cursive, Arial, Helvetica, sans-serif;
}

.hidden {
  /* display: none; */
}

h1 {
  color: var(--pokemon-yellow);
  text-shadow: 0px 0px 10px black;
  margin: 20px;
}

.start-container {
  display: flex;
  /* display: none; */
}

.start-button {
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 40px;
  font-size: 2em;
}

/* .start-button::before {
  content: "";
  margin-top: 100%;
} */

.start-button:hover {
  box-shadow: 0px 0px 50px white;
}

/* This doesn't work.  */
.vs {
  color: var(--pokemon-yellow);
  text-shadow: 0px 0px 10px black;
  margin: 20px;
  display: flex;
  align-items: center;
}

.swap-button {
  background: var(--pokemon-yellow);
  height: auto;
  width: fit-content;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.swap-button:hover {
  box-shadow: 0px 0px 15px black;
}

#bothPokemon {
  width: 100%;
  display: flex;
  /* display: none; */
}

.pkmn {
  /* width: 400px; */
}

.wrapper {
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 250px;
}

.pkmn-name {
  font-size: 120%;
  text-transform: uppercase;
}

.progress {
  margin: 5px;
}

.progress-bar {
  background-color: #28a745;
  border: 1px solid white;
}

.stat {
  text-align: left;
}

.statValue {
  text-align: right;
}

.eventLogContainer {
  border: 3px solid black;
  border-radius: 10px;
  background: white;
  /* padding: 5px; */
  margin: 20px auto;
}

.eventLogArea {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 600px) {
  body {
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  #bothPokemon {
    flex-direction: column;
  }

  .wrapper-other-stats {
    display: none;
  }
}
